
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@600&display=swap" rel="stylesheet"><h1>利用者状況</h1>

<%= render 'form', usb: @usb %>

<%= link_to '戻る', usbs_path %>
