<html>

<body>
    <h1>利用状況</h1>

    <div class="map_wrap">
        <div class="map1"><%= image_tag '1_map.png',usemap:"#ImageMap1" %>
            <map name="#ImageMap1">
                <area shape="rect" coords="474,275,541,335" href="https://www.google.com/search?q=%E3%83%97%E3%83%AB%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC&source=lmns&bih=953&biw=958&rlz=1C1GCEU_jaJP949JP950&hl=ja&sa=X&ved=2ahUKEwjQw6vLr7OCAxXz2TQHHdRRC9sQ_AUoAHoECAEQAA&safe=active&ssui=on" alt="" />
                <area shape="rect" coords="541,273,610,335" href="https://www.google.com/search?q=%E3%83%97%E3%83%AB%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC&source=lmns&bih=953&biw=958&rlz=1C1GCEU_jaJP949JP950&hl=ja&sa=X&ved=2ahUKEwjQw6vLr7OCAxXz2TQHHdRRC9sQ_AUoAHoECAEQAA&safe=active&ssui=on" alt="" />
                <area shape="rect" coords="692,273,760,333" href="https://www.google.com/search?q=%E3%83%97%E3%83%AB%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC&source=lmns&bih=953&biw=958&rlz=1C1GCEU_jaJP949JP950&hl=ja&sa=X&ved=2ahUKEwjQw6vLr7OCAxXz2TQHHdRRC9sQ_AUoAHoECAEQAA&safe=active&ssui=on" alt="" />
            </map>
        </div>
         <div class="map2"><%= image_tag '2_map.png',usemap: "#ImageMap2"%>
            <map name="#ImageMap2">
                <area shape="rect" coords="564,304,637,366" href="https://www.google.com/search?q=%E3%83%97%E3%83%AB%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC&source=lmns&bih=953&biw=958&rlz=1C1GCEU_jaJP949JP950&hl=ja&sa=X&ved=2ahUKEwjQw6vLr7OCAxXz2TQHHdRRC9sQ_AUoAHoECAEQAA&safe=active&ssui=on" alt="" />
                <area shape="rect" coords="722,45,823,127" href="https://www.google.com/search?q=%E3%83%97%E3%83%AB%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC&source=lmns&bih=953&biw=958&rlz=1C1GCEU_jaJP949JP950&hl=ja&sa=X&ved=2ahUKEwjQw6vLr7OCAxXz2TQHHdRRC9sQ_AUoAHoECAEQAA&safe=active&ssui=on" alt="" />
                <area shape="rect" coords="909,44,1037,125" href="https://www.google.com/search?q=%E3%83%97%E3%83%AB%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC&source=lmns&bih=953&biw=958&rlz=1C1GCEU_jaJP949JP950&hl=ja&sa=X&ved=2ahUKEwjQw6vLr7OCAxXz2TQHHdRRC9sQ_AUoAHoECAEQAA&safe=active&ssui=on" alt="" />
                <area shape="rect" coords="1137,123,1196,268" href="https://www.google.com/search?q=%E3%83%97%E3%83%AB%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC&source=lmns&bih=953&biw=958&rlz=1C1GCEU_jaJP949JP950&hl=ja&sa=X&ved=2ahUKEwjQw6vLr7OCAxXz2TQHHdRRC9sQ_AUoAHoECAEQAA&safe=active&ssui=on" alt="" />
            </map>
         </div>
         <div class="map3"><%= image_tag '3_map.jpg',usemap: "#ImageMap3" %>
            <map name="#ImageMap3">
            <area shape="rect" coords="707,118,896,184" href="https://www.google.com/search?q=%E3%83%97%E3%83%AB%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC&source=lmns&bih=953&biw=958&rlz=1C1GCEU_jaJP949JP950&hl=ja&sa=X&ved=2ahUKEwjQw6vLr7OCAxXz2TQHHdRRC9sQ_AUoAHoECAEQAA&safe=active&ssui=on" alt="" />
            <area shape="rect" coords="896,116,1068,183" href="https://www.google.com/search?q=%E3%83%97%E3%83%AB%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC&source=lmns&bih=953&biw=958&rlz=1C1GCEU_jaJP949JP950&hl=ja&sa=X&ved=2ahUKEwjQw6vLr7OCAxXz2TQHHdRRC9sQ_AUoAHoECAEQAA&safe=active&ssui=on" alt="" />
            <area shape="rect" coords="476,335,550,402" href="https://www.google.com/search?q=%E3%83%97%E3%83%AB%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC&source=lmns&bih=953&biw=958&rlz=1C1GCEU_jaJP949JP950&hl=ja&sa=X&ved=2ahUKEwjQw6vLr7OCAxXz2TQHHdRRC9sQ_AUoAHoECAEQAA&safe=active&ssui=on" alt="" />
            <area shape="rect" coords="708,332,783,386" href="https://www.google.com/search?q=%E3%83%97%E3%83%AB%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC&source=lmns&bih=953&biw=958&rlz=1C1GCEU_jaJP949JP950&hl=ja&sa=X&ved=2ahUKEwjQw6vLr7OCAxXz2TQHHdRRC9sQ_AUoAHoECAEQAA&safe=active&ssui=on" alt="" />
            </map>
        </div>
    </div>
    <p>Find me in app/views/home/top.html.erb</p>
</body>
</html>