<html>

<body>
    <h1>利用状況</h1>

    <div class="map_wrap">
        <div class="map1"><%= image_tag '1_map.jpg'%></div>
         <div class="map2"><%= image_tag '2_map.jpg'%></div>
         <div class="map3"><%= image_tag '3_map.jpg'%></div>
    </div>
    <p>Find me in app/views/home/top.html.erb</p>
</body>
</html>