

<p>選択された部屋は貸出可能です。</p>
<div class ="possible">
<div class="possible_a">

  <div class="possible_a_items">
    <h2>事務室</h2>
    <div class="line">
      <p>第1演習室</p>
      <p>第2演習室</p>
      <p>第3演習室</p>
      <p>第4演習室</p>
      <p>第5演習室</p>
      <p>集会室</p>
    </div>
  </div>
  <div class="possible_a_items">
    <h2>商業センター</h2>
    <p>第1パソコン実習室</p>
    <p>第2パソコン実習室</p>
    <p>第3パソコン実習室</p>
    <p>総合実践室</p>
  </div>
  </div>
<p></p>
<p>へ鍵を取りに行ってください。</p>
</div>
<button type ="button">
    <%= link_to '戻る', home_student_top_path %>
</button>