// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-color: aqua;
}
h1{
    color: aqua;
}
.map_wrap{
    text-align:center;
}
.map_wrap img{
    width:1500px;
    
}
.map1{
    padding:5%;
}
.map2{
    padding:5%;
}
.map3{
    padding:5%;
}
