// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.wrap{
    color: #333;
    margin: 33px;
}
tbody{
    margin: 80px;
}
body{
    background-color:#ffe9d2;
    min-height: 100vh;
    margin: 0;
    /*background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);*/
    background-blend-mode: multiply;}

h1{
    font-family:"Meiryo";
    float: left;
    margin-left:100px ;
    width:230px;
    height:auto;
    color: #ff7171;
    font-size:40px;
    text-shadow:
    1px 1px 0px #000, -1px -1px 0px #000,
   -1px 1px 0px #000,  1px -1px 0px #000,
    1px 0px 0px #000, -1px  0px 0px #000,
    0px 1px 0px #000,  0px -1px 0px rgb(0, 0, 0);
}
.map_wrap{
    text-align:center;
}
.map1{
    padding:5%;
    background-color: none;
}
.map2{
    padding:5%;

}
.map3{
    padding:5%;
    background-color: none;
}

.map1 p{
    display: none;
}
.map1 map:hover + p {
    display: block;
}

