// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-color: aqua;
}
h1{
    float: left;
    width:230px;
    height:auto;
    color: red;
    font-size:40px;
    font-family: 'Shippori Mincho B1', serif;
    text-shadow:
    1px 1px 0px #000, -1px -1px 0px #000,
   -1px 1px 0px #000,  1px -1px 0px #000,
    1px 0px 0px #000, -1px  0px 0px #000,
    0px 1px 0px #000,  0px -1px 0px rgb(0, 0, 0);
}
.map_wrap{
    text-align:center;
}
.map1{
    padding:5%;
}
.map2{
    padding:5%;
}

